<div class="col">
  <%= link_to rails_blob_path(realization.image), {class: "lightbox", id: realization.id} do %>
    <%= image_tag rails_blob_path(realization.image) %>
  <% end %>
  <% if user_signed_in? %>
    <br><br><%= link_to "Usuń realizację", remove_realization_path(realization),
                        class: "button button-success contact-submit",
                        data: {confirm: "Jesteś pewien, że chcesz usunąć te realizację?"} %>
  <% end %>
  <br><br>
</div>