<div class="page-header">
  <%= image_tag rails_blob_path(@page.image) if @page.image.attached? %>
  <div class="header-text">
    <%= @page.title %>
  </div>
</div>

<section class="no-padding">
  <div class="about-container">
    <% @page.faq_questions.each do |question| %>
      <h3><%= question.title %></h3>
      <hr class="no-width-transition">
      <p>
        <%= question.answer %>
      </p>
      <br>
    <% end %>
    <!--<h1>O instalacjach fotowoltaicznych</h1>
    <hr>
    <br>
    <p>
      Pod tą pozornie trudną nazwą kryje się bardzo prosty proces pozyskiwania energii elektrycznej ze słońca. Panele
      fotowoltaiczne, czyli inaczej panele słoneczne, to krzemowe płyty, które coraz częściej możemy zauważyć na dachach
      domów czy też budynkach nowoczesnych firm. Rosnącą popularność fotowoltaika zawdzięcza połączeniu ekologii z
      ekonomią, ponieważ jest ona rozwiązaniem zapewniającym zwrot części lub nawet całości kosztów za wykorzystanie
      energii elektrycznej, nie szkodząc przy tym środowisku. Chociaż zdaje się to być niemożliwe w dobie rosnących
      rachunków za prąd, warto poświęcić chwilę i dowiedzieć się, jak korzystnym i przyszłościowym rozwiązaniem są
      panele fotowoltaiczne.
    </p>
    <br>

    <h3>Jak działają ogniwa?</h3>
    <hr class="no-width-transition">
    <p>
      Zasada działania paneli fotowoltaicznych polega na tym, że ogniwa fotowoltaiczne, z których złożone są panele
      zamieniają energię słoneczną w energię elektryczną. W tym celu foton (czyli minimalna jednostka światła) pada na
      płytkę krzemową, z której zbudowane jest ogniwo fotowoltaiczne. Jednostka światła jest pochłaniana przez krzem i
      wybija elektron ze swojej pozycji zmuszając go do ruchu. Ten ruch to właśnie przepływ prądu elektrycznego. Dzięki
      zastosowaniu złącza półprzewodnikowego typu p-n możliwe jest połączenie tego procesu z obiegiem elektronów w sieci
      energetycznej, w ten sposób energia świetlna zostaje przekształcona w elektryczną.
    </p>
    <br>

    <h3>Ile energi wytwarza instalacja fotowoltaniczna?</h3>
    <hr class="no-width-transition">
    <p>
      W zależności od wielkości instalacji fotowoltaicznej, ilość energii elektrycznej wyprodukowanej przez panele
      fotowoltaiczne będzie różna. Nie bez znaczenia jest też miejsce umieszczenia instalacji PV. Przyjmuje się, że
      panel skierowany na południe, mający 1 kWp wyprodukuje w ciągu roku ok. 900-1100 kWh energii elektrycznej.
      Produkcja energii jest większa latem przy pełnym słońcu, bez zacienienia paneli. Panele fotowoltaiczne zbudowane z
      krzemu działają najsprawniej w temperaturze ok. 25°C. Im niższa jest temperatura tym mniej fotonów dociera do
      ogniw, im wyższa temperatura tym moc paneli spada - wiąże się to z przegrzaniem paneli i przy długotrwałej pracy w
      bardzo wysokiej temperaturze może dojść do spalenia ogniw fotowoltaicznych. W polskich warunkach jest to zjawisko
      niespotykane - biorąc pod uwagę klimat, ale pojedyncze przypadki potwierdzają teorię związaną z przepaleniem.
      Wówczas należy pamiętać, że panele fotowoltaiczne to połączone ze sobą ogniwa fotowoltaiczne. Wszystkie ogniwa
      połączone szeregowo i/lub równolegle tworzą całość.
    </p>
    <br>

    <h3>Co dzieje się z niewykorzystaną energią?</h3>
    <hr class="no-width-transition">
    <p>
      Każdy system Instalacji fotowoltaicznej działa w taki sposób, że produkując własny prąd za pomocą promieni
      słonecznych przeznacza go głównie na własne potrzeby. Natomiast po zaspokojeniu potrzeb gospodarstwa, energia jest
      przekazywana do sieci publicznej. Następnie ilość energii oddawanej do sieci jest zliczana przez specjalny licznik
      montowany przez Zakład Energetyczny.
    </p>
    <br>-->

    <!--<h3>Schemat przykładowej instalacji fotowoltaicznej:</h3>
    <hr class="no-width-transition">-->
  </div>

  <%#= image_tag "energy_scheme.jpg", class: "center-image" %>
</section>