<div class="page-header">
  <%= image_tag "allow/heat_pump.jpg" %>
  <div class="header-text">
    Pompa ciepła
  </div>
</div>


<section class="no-padding">
  <div class="about-container">
    <h1>O pompach ciepła</h1>
    <hr>
    <br>
    <p>
      Pompa ciepła pobiera ciepło z dolnego źródła ciepła, czyli źródła o niższej temperaturze. Tym źródłem może być
      zarówno ziemia, skała, zbiornik wodny jak i powietrze na zewnątrz budynku. Wykonując pracę sprężania i skraplania
      podobnie jak praca lodówki, oddaje czynnik w postaci wody lub powietrza do źródła o wyższej temperaturze. Pompę
      ciepła można stosować do ogrzewania jak i chłodzenia budynku. Czynnikiem roboczym może być woda lub powietrze - w
      zależności od rodzaju pompy. Każda ma inna budowę i inną zasadę działania ale efekt pracy mają ten sam czyli
      podgrzanie wody użytkowej (c.w.u), ogrzewanie domu (c.o.) lub wykorzystanie w klimatyzacji. Obsługa pompy jest
      bardzo prosta. Zainstalowana pompa wyposażona jest w panel kontrolny, którego obsługi możesz nauczyć się w parę
      chwil. Zawsze można poprosić o pomoc instalatora. Rozważając opłacalność instalacji należy pamiętać, że w ten
      sposób znacznie zmniejszamy wysokość swoich rachunków!
    </p>
    <br>

    <h3>Jak działa pompa ciepła?</h3>
    <hr class="no-width-transition">
    <p>
      Zasada działania polega na tym, że zimny płyn przepływa w rurach o wysokim przewodnictwie cieplnym (np.
      miedzianych) przez ciepłe, dolne źródło ciepła (grunt, woda, powietrze), nagrzewając się. Przepływa do sprężarki,
      w której podwyższa się ciśnienie i temperaturę płynu (przemiana adiabatyczna). Ciepło jest oddawane do górnego
      źródła ciepła (systemu grzewczego budynku). Następnie ciśnienie jest obniżane w zaworze rozprężnym dzięki czemu
      wraca on do pierwotnej bardzo niskiej temperatury. Proces trwa stale dzięki dostarczaniu niewielkiej ilości
      energii elektrycznej.
    </p>
    <br>

    <h3>Czy inwestycja w pompę jest opłacalna?</h3>
    <hr class="no-width-transition">
    <p>
      Opłacalność inwestycji będzie stale rosnąć. Z roku na rok instalacje są coraz tańsze ze względu na większy popyt,
      a cena energii elektrycznej będzie stale rosnąć. Coraz więcej osób inwestuje w urządzenia bezobsługowe i
      bezawaryjne takie jak pompy. Opracowywane są też nowsze modele pomp aby wpłynąć korzystnie na efektywność i
      sprawność. Na dzień dzisiejszy wykorzystując instalację zmniejszamy koszty ciepła o 15-50%. Izolacja budynku
      korzystnie wpływa na pracę i efektywność. W nowym budownictwie jeśli chcemy ograniczyć koszty ogrzewania to pompa
      ciepła jest bardzo dobrym rozwiązaniem pozwalającym, nawet w porównaniu do ogrzewania gazowego, zmniejszyć koszty
      o 15-30%.
    </p>
    <br>

    <h3>Jakie korzyści płyną z instalacji pompy ciepła?</h3>
    <hr class="no-width-transition">
    <p>
      Do głównych zalet należy ochrona środowiska i zmniejszenie kosztów ogrzewania. Inwestując w instalację
      przyczyniamy się do zmniejszenia emisji zanieczyszczeń. Wszystkie urządzenia poprawiające gospodarkę energetyczną
      budynku podnoszą wartość nieruchomości. Bezpośrednio po instalacji pompy, wartość nieruchomości wzrasta o koszt
      urządzenia i instalacji, dodatkowo doskonale komponuje się z instalacjami pozyskującymi energię elektryczną ze
      źródeł odnawialnych. Połączenie pompy ciepła z wiatrakiem lub fotowoltaiką prowadzi do dalszego obniżenia kosztów
      utrzymania budynku. Sam system jest całkowicie bezpieczny, nie powoduje zagrożenia dla mieszkańców, nie osiąga
      temperatur mogących spowodować pożar. Praca pompy nie emituje żadnych tlenków węgla.
    </p>
    <br>

  </div>
</section>

