<div class="page-header">
  <%= image_tag "allow/air_conditioners.jpg" %>
  <div class="header-text">
    Klimatyzacja
  </div>
</div>

<section class="no-padding">
  <div class="about-container">
    <h1>O klimatyzacji</h1>
    <hr>
    <br>
    <p>
      Jeżeli dokuczliwy upał daje się coraz mocniej we znaki, a włączony wentylatorek nie poprawia sytuacji, to może
      nadchodzi właściwy czas, by podjąć decyzję o zakupie i montażu klimatyzacji. Pamiętajmy, że o naszym samopoczuciu
      decyduje jednocześnie kilka czynników, takich jak temperatura wnętrza, wilgotność, prędkość powietrza, jego
      zanieczyszczenie oraz ilość świeżego powietrza na danej przestrzeni. W konkretnym, pojedynczym pomieszczeniu
      klimatyzacja może być realizowana za pomocą urządzeń indywidualnych, które zwykle schładzają pomieszczenie oraz
      usuwają z niego nadmiar wilgoci. Takie urządzenie doskonale zdaje egzamin w przypadku, gdy chcemy zapewnić sobie
      świeże, chłodne powietrze. Jednak przed podjęciem ostatecznej decyzji o jego zakupie, warto poznać budowę i zasady
      działania popularnych systemów klimatyzacji.
    </p>
    <br>

    <h3>Jak działa klimatyzacja?</h3>
    <hr class="no-width-transition">
    <p>
      Klimatyzacja, w zależności od typu urządzenia, zastosowanego w instalacji klimatyzacyjnej,
      reguluje temperaturę pomieszczenia (chłodzi lub grzeje) i wilgotność powietrza.
      Urządzenia klimatyzacyjne usuwają wodę z powietrza znajdującego się w pomieszczeniu.
      Przy wilgotności powietrza równej 25-40% człowiek ma wrażenie, że w pomieszczeniu jest chłodniej.
      Przy wilgotności 60% i tej samej temperaturze odczuwalna jest wyższa temperatura.
      <br><br>
      Nowoczesne klimatyzatory potrafią również filtrować powietrze, pozbywając się z niego zanieczyszczeń, pyłków,
      kurzu czy dymu.
    </p>
    <br>

    <h3>Jaka wilgotność i temperatura są najkorzystniejsze dla człowieka?</h3>
    <hr class="no-width-transition">
    <p>
      Dla organizmu człowieka najkorzystniej jest, gdy temperatura w pomieszczeniu wynosi 18-20°C,
      względna wilgotność 40-60%.Takie warunki są najbardziej optymalne do pracy.
      Od temperatury 20°C ciało zaczyna się schładzać w sposób naturalny - gdy jest za gorąco, człowiek poci się,
      a pot znajdujący się na skórze odparowuje i likwidowany jest nadmiar ciepła z ciała.
      Jedynym problemem, jaki może zakłócić obieg jest fakt, iż wysoka wilgotność powietrza utrudnia to odparowywanie.
    </p>
    <br>

    <h3>Jak wylicza się moc instalacji klimatyzacyjnej w projekcie?</h3>
    <hr class="no-width-transition">
    <p>
      Moc chłodnicza klimatyzacji powinna pokryć ciepło, jakie zostanie dostarczone lub wytworzone w klimatyzowanym
      pomieszczeniu.
      Przed przystąpieniem do projektowania klimatyzacji należy zrobić bilans cieplny pomieszczenia.
      Od jego wyników zależy dobór mocy urządzeń.
      Obliczeń tych można dokonać, w przybliżeniu biorąc pod uwagę np. powierzchnię lub kubaturę pomieszczenia oraz
      jego przeznaczenie. Przykładowo dla pomieszczeń mieszkalnych przyjmuje się 100 W/m2 biorąc pod uwagę powierzchnię
      lub 30 W/m3 w przypadku kubatury.
    </p>
    <br>

    <h3>Jakie są czynniki chłodzące w klimatyzacji?</h3>
    <hr class="no-width-transition">
    <p>
      Czynnikami chłodzącymi są najczęściej substancje o niskiej temperaturze wrzenia,
      które umożliwiają odebranie ciepła z pomieszczenia. Zaleca się stosowanie czynników R407C lub R410A.
      Substancje chłodnicze są silnie higroskopijne, dlatego należy zadbać o to,
      aby podczas napełniania instalacja była sucha.

      W czynniku chłodniczym klimatyzatorów jest rozpuszczony olej, który służy do smarowania sprężarki.
      W zależności od rodzaju czynnika chłodniczego stosowane są oleje o różnej temperaturze gęstnienia.
      W niskiej temperaturze następuje wytrącanie oleju, który zbiera się w postaci korków uniemożliwiających przepływ
      czynnika.
      Brak przepływu czynnika chłodniczego może doprowadzić do uszkodzenia sprężarki pozbawionej smarowania.
    </p>
  </div>
</section>