<div class="page-header">
  <%= image_tag "allow/contact.jpg" %>
  <div class="header-text">
    Kontakt
  </div>
</div>


<section class="no-padding">
  <div class="container">
    <div class="main-header">
      <div class="header-hover">
        <h2>Wypełnij formularz kontaktowy:</h2>
        <hr class="thematic-break">
      </div>
    </div>

    <div class="contact-form">
      <div class="text">
        <h3>Formularz kontaktowy</h3>
        <hr>
        <h4>Odpowiemy tak szybko jak to możliwe</h4>
      </div>
      <div class="input">
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Twoje imię"><br><br>

        <label for="email"></label>
        <input type="text" id="email" name="email" placeholder="Twój email"><br><br>

        <label for="phone"></label>
        <input type="number" id="phone" name="phone" placeholder="Twój telefon (opcjonalnie)"><br><br>

        <label for="content"></label>
        <textarea id="content" name="content" placeholder="Treść wiadomości"></textarea><br><br>

        <a class="ghost-button">"Wyślij wiadomość"</a>
      </div>
    </div>
  </div>
</section>