<div class="page-cover">
  <div class="cut-in">
    <%= image_tag rails_blob_path(@page.image) if @page.image.attached? %>
  </div>
  <div class="header-text">
    <div class="header-background">
      <%= @page.title %>
    </div>
    <div id="scroll-arrow" class="arrow-hover">
      <i class="arrow"></i>
    </div>
  </div>
</div>
<section class="no-padding">
  <div class="main-header">
    <div id="scroll-target" class="header-hover">
      <h2>Zobacz nasze realizacje</h2>
      <hr class="thematic-break">
    </div>
  </div>
  <div id="gallery" class="container">
    <% @realizations.in_groups_of(4, false).each do |group| %>
      <div class="row">
        <% group.each do |realization| %>
          <div class="col">
            <%= link_to rails_blob_path(realization.image), { class: "lightbox" } do %>
              <%= image_tag rails_blob_path(realization.image) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>