$('#realizations').append('<div class="row"> <%= j render @realizations %> </div>');

<% @realizations.each do |realization| %>
window.tobii.add(document.getElementById('<%= realization.id %>'));
<% end %>

<% if @realizations.next_page %>
$('.pagination').replaceWith('<%= j will_paginate @realizations %>');
<% else %>
$(window).off('scroll');
$('.pagination').remove();
<% end %>