// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "../../../node_modules/trix/dist/trix";
@import "./actiontext.scss";
@import "../../../node_modules/tobii/dist/css/tobii";

/**,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;

  font-size: 16px;
  font-family: sans-serif;
  background: rgba(0, 0, 0, .1);
}

ul {
  list-style-type: none;
}

i {
  width: 16px;
}

.admin-sidepanel ul li {
  transition: background .3s ease-in-out;
}

.flex,
.flex--center,
.admin-sidepanel ul li {
  display: flex;
  display: -webkit-flex;
}

.flex--center, .admin-sidepanel ul li {
  align-items: center;
  -webkit-align-items: center;
}

.admin-statusbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 35px;
  padding: 0 25px;
  background: rgb(60, 55, 53);
}

.admin-statusbar span {
  font-weight: lighter;
  color: lightgrey;
}

.admin-statusbar span i {
  margin-right: 1em;
}

.admin-statusbar #username {
  margin-left: auto;
}

.admin-sidepanel {
  position: fixed;
  top: 35px;
  left: 0;
  z-index: 999;
  width: 200px;
  height: 100%;
  padding: 25px 0;
  background: rgb(60, 55, 53);
}

.admin-sidepanel ul li {
  width: 100%;
  height: 70px;
  padding-left: 25px;
  font-size: 1em;
  font-weight: lighter;
  color: lightgrey;
}

.admin-sidepanel ul li:hover {
  background: #666;
  cursor: pointer;
}

.admin-sidepanel ul li i {
  margin-right: 1em;
}

.admin-main {
  position: relative;
  width: 90%;
  padding: 2em;
  margin: 15px 15px 15px 200px;
  background: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
  text-align: center;

  div, h1, h2, h3 {
    margin: 10px 0 10px 0;
  }

  h1 {
    font-weight: lighter;
    font-size: 3em;
  }
}*/

.admin-edit {
  text-align: center;
  text-align: -moz-center;
  padding: 100px 0 0 0;

  a:link {
    text-decoration: none !important;
    cursor: pointer;
  }

  a {
    color: lightgray;
  }

  hr {
    width: 60%;
    color: rgb(190,190,190);
    margin: 10px auto 30px auto;
  }

  input[type=text], textarea {
    box-shadow: inset 0 1px 3px #ddd;
    padding: .5em .6em;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 300px;
    height: 40px;
  }

  textarea {
    width: 50%;
    height: 200px;
  }

  // Slides
  .slide-image {
    width: 24vw;
    height: 24vh;
    object-fit: cover;
    transition: .3s;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  // Offer
  .offer {
    width: 33%;

    p {
      margin: 0 0 10px 0;
    }
    img {
      margin: 0 0 10px 0;
    }
  }

  // Icons
  .icon-box {
    width: 25%;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    margin: 0 6% 40px 6%;
    max-width: 220px;

    .icon {
      filter: none;
      -webkit-transition : -webkit-filter 150ms linear
    }

    h4 {
      color: #333333;
      font-size: 22px;
      font-weight: 300;
      margin: 0;
    }

    p {
      color: #666666;
      font-size: 16px;
    }

    &:hover {
      .icon {
        filter: brightness(0) saturate(100%) invert(61%) sepia(21%) saturate(6861%) hue-rotate(65deg) brightness(96%) contrast(84%);
      }
      cursor: pointer;
    }
  }

  // Realizations page
  .col {
    margin: 25px;
  }
}