// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "turbolinks";
@import "loader";
@import "main";
@import "../../../node_modules/tobii/dist/css/tobii";

$nav-height: 60px;
$easeOut: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$green: rgb(68, 177, 21);
$green-dark: rgb(88, 197, 41);
$green-semi: rgba(68, 177, 21, .9);
$square-size: 150px;
$square-margin: 5px + $square-size/5;
$border-size: 5px;
$border-position: $square-size - $border-size * 2;
$border-color: #50A246;
$border-time: .5s;

@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

* img {
  opacity: 0;
  transition: opacity .3s;
}

.no-opacity {
  opacity: 1;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", Times, serif;
  background: rgb(250,250,250);
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
  height: $nav-height;
  z-index: 333;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    min-height: $nav-height;
    margin: 0;
  }

  .nav-left {
    width: 23vw;
    background-color: $green;
    min-height: $nav-height;
    transform: skew(-30deg) translateX(-1vw);
  }

  .nav-logo {
    transform: translateX(-1vw);

    img {
      max-height: $nav-height - 10px;
    }
  }

  .nav-center {
    max-width: 10vw;
  }

  .nav-right {
    width: 15vw;
    background-color: $green;
    min-height: $nav-height;
    transform: skew(-30deg) translateX(1vw);
  }
}

section {
  padding: 50vh 20% 0 20%;

  margin: $nav-height 0 0 0;

  h2 {
    color: #444;
    margin-bottom: 10px;
  }

  &:hover {
    .header-hover {
      .thematic-break {
        max-width: 300px;
        transition: max-width 1.6s ease;
      }
    }

    .about-container {
      hr {
        width: 40%;
      }
    }

    .offer {
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $green;
        width: 50%;
      }
    }

    .offer-img {
      filter: saturate(1);
    }

    .about-title {
      hr {
        border-top: 1px solid $green;
        width: 50%;
      }
    }
  }
}

.underline {
  color: #555;
  text-align: center;
  text-decoration: none;
  padding: 0 22px 0 22px;
  font-size: 20px;
  margin: 0;
  height: 100%;
  position: relative;
  //text-transform: uppercase;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0; right: 0;
    height: 2px;
    background-color: $green;
  }
  &:before {
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0s $easeOut, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY(5px);
    transition: transform .3s $easeOut, opacity .3s;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform .3s $easeOut, opacity .3s;
    }
    &:after {
      transition: transform 0s .3s $easeOut, opacity 0s .3s;
    }
  }
}

.main-header {
  text-align: -webkit-center;
  text-align: -moz-center;
  padding: 0 0 40px 0;
  transform: translateY(-10%);
}

.header-hover {
  width: fit-content;

  .thematic-break {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $green;
    max-width: 88px;
    transition: max-width 1s ease;
    padding: 0 0 20px 0;
  }
}

.column {
  text-align: center;

  .left {
    float: left;
    width: 33.33%;
  }
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.border {
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid transparent;
  transform: translateX(170px);
}

.box {
  text-align: center;
  width: 340px;
  height: 360px;
  border: 1px solid rgba(33,33,33,.2) !important;

  img {
    width: 60%;
    height: 120px;
  }

  h3 {
    color: #444;
    font-size: 26px;
    margin: 0 0 10px 0;
  }

  a {
    font-size: 18px;
  }

  p {
    font-size: 16px;
    color: rgba(33,33,33,0.5);
    margin: 20px 0 16px 0;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $green;
    width: 44px;
    padding: 0;
    transition: width .65s;

    @include hover-supported() {

    }
    &:hover {
      width: 192px;
    }
  }

  &:hover {
    .border {
      //animation: border .6s linear forwards;
    }

    .square {
      box-shadow: -5px 10px 5px 0 rgba(0,0,0,0.3);
    }

    .border2:before {
      //animation: animate $border-time ease-in-out forwards;
    }

    .border2:after {
      //animation: animate2 $border-time ease-in-out forwards;
      //animation-delay: $border-time;
    }

    hr {
      width: 128px;
    }
  }
}

/*.border2 {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    z-index: 1;
    transform: translateX(136px);
    animation: animateBack $border-time ease-in-out forwards;
  }

  &:after {
    content: '';
    position: absolute;
    width: 136px;
    height: 136px;
    background: transparent;
    border: 2px solid transparent;
    z-index: 1;
    transform: translateY(136px);
    animation: animateBack2 $border-time ease-in-out forwards;
  }
}

@keyframes animate {
  0% {
    border-color: $border-color $border-color transparent transparent;
    width: 0;
    height: 0;
    transform: translateX(136px);
  }
  100% {
    border-color: $border-color $border-color transparent transparent;
    width: 136px;
    height: 136px;
    transform: translateX(0);
  }
}

@keyframes animateBack {
  0% {
    border-color: $border-color $border-color transparent transparent;
    width: 136px;
    height: 136px;
    transform: translateX(0);
  }
  99% {
    border-color: $border-color $border-color transparent transparent;
    width: 0;
    height: 0;
    transform: translateX(136px);
  }
  100% {
    border-color: transparent transparent transparent transparent;
    width: 0;
    height: 0;
    transform: translateX(136px);
  }
}

@keyframes animate2 {
  0% {
    border-color: transparent transparent $border-color $border-color;
    width: 0;
    height: 0;
    transform: translateY(136px);
  }
  100% {
    border-color: transparent transparent $border-color $border-color;
    width: 136px;
    height: 136px;
    transform: translateY(0);
  }
}

@keyframes animateBack2 {
  0% {
    border-color: transparent transparent $border-color $border-color;
    width: 136px;
    height: 136px;
    transform: translateY(0);
  }
  99% {
    border-color: transparent transparent $border-color $border-color;
    width: 0;
    height: 0;
    transform: translateY(136px);
  }
  100% {
    border-color: transparent transparent transparent transparent;
    width: 0;
    height: 0;
    transform: translateY(136px);
  }
}

@keyframes border {
  0% {
    border-color: lightgreen transparent transparent transparent;
    width: 0;
    height: 0;
  }
  25% {
    border-color: lightgreen transparent transparent transparent;
    width: inherit;
    height: 0;
    transform: translateX(0);
  }
  75% {
    border-color: lightgreen lightgreen transparent lightgreen;
    width: inherit;
    height: inherit;
    transform: translateX(0);
  }
  100% {
    border-color: lightgreen lightgreen lightgreen lightgreen;
    width: inherit;
    height: inherit;
    transform: translateX(0);
  }
}*/

.yield {
  opacity: 1;
  transition: all .5s ease-in-out;
}

.fading {
  opacity: 0;
}

.square {
  width: $square-size;
  height: $square-size;
  margin: $square-margin ($square-margin * 1.5) 0 $square-margin;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg) translateX(82px);
  overflow: hidden;
  box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.3);
  transition: box-shadow $border-time ease-in-out;

  img {
    width: $square-size * 1.5;
    height: $square-size * 1.5;
    margin: -$square-margin;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.counter-background {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.images-container {
  height: 440px;
  padding: 100px 0 0 0;
  overflow-x: hidden;
}

.image-box {
  z-index: 3;
  text-align: -webkit-center;
  text-align: -moz-center;
  width: 33.33%;
  height: 440px;
  color: whitesmoke;
  transform: skew(-30deg);
  filter: brightness(.7);
  transition: all 1s ease ;

  &:hover {
    filter: brightness(1);
  }

  .img-wrapper {
    height: 100%;
    overflow: hidden;
    img {
      width: 115%;
      height: 100%;
      object-fit: cover;
      transform: translateX(0%) skew(30deg);
    }
  }

  &.left {
    &:hover {
      //width: 36.33%;
      &.center {
        width: 31.835%;
      }
      &.right {
        width: 31.835%;
      }
    }
  }

  &.center {
    &:hover {
      //width: 36.33%;
      &.left {
        width: 31.835%;
      }
      &.right {
        width: 31.835%;
      }
    }
  }

  &.right {
    &:hover {
      //width: 36.33%;
      &.left {
        width: 28.335%;
      }
      &.center {
        width: 28.335%;
      }
    }
  }

  .left {
    transform: translateX(-21%);
    width: 140%;
  }

  .center {
    width: 140%;
    transform: translateX(-21%);
  }

  .right {
    width: 140%;

    img {
      transform: translateX(-21%) skew(30deg);
    }
  }

  .box-text {
    transform: skew(30deg);
    position: absolute;
    top: 25%;
    left: 37%;
    //text-shadow: 0.025em 0 black, 0 0.025em black, -0.025em 0 black, 0 -0.025em black, -0.025em -0.025em black, -0.025em 0.025em black, 0.025em -0.025em black, 0.025em 0.025em black;
    -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
    img {
      max-width: 120px;
      -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
      filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
    }
  }
}

.row {
  .col {
    text-align: center;
  }
}

.no-overflow {
  overflow: hidden;
}

.no-transform {
  transform: none;
}

.image-border {
  width: 5px;
  background-color: white;
  transform: skew(-30deg);
  z-index: 5;
}

.row-center {
  position: relative;
  justify-content: center;
}

/*region Slideshow */

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.side-control {
  position: absolute;
  top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  height: 5vh;
  width: 7%;
  z-index: 300;
  transition: background-color .3s;

  p {
    text-decoration: none;
    color: white;
    text-align: center;
    text-align: -moz-center;
  }

  &:hover {
    background-color: $green-dark
  }
}

.slide {
  position: absolute;
  margin: $nav-height 0 0 0;
  width: 100%;
  opacity: 1;
  transition: opacity 1s;
}

.slide-banner {
  position: absolute;
  display: flex;
  left: 10%;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(30,30,30,.3);
  backdrop-filter: blur(2px);
  height: 50vh;
  max-width: 30%;
}

.slide-box {
  //background-color: rgba(30,30,30,.4);
  max-width: 85%;
  border: 2px solid transparent;
  text-align: center;
  padding: 10px 50px;
  color: whitesmoke;

  h3 {
    font-size: 32px;
    padding: 0 0 40px 0;
  }

  p {
    font-size: 22px;
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

.background-image {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 50vh;
  filter: brightness(0.9);
}

.transparent {
  opacity: 0;
  transition: opacity 1s;
}

/*endregion*/

footer {
  width: 100%;
  height: auto;
  position: sticky;
  margin: 48px 0 0 0;
  color: rgba(255,255,255,.9);
  text-align: center;
  line-height: 1.2;

  div {
    margin: 0 80px 0 80px;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    max-width: 300px;
    font-size: 15px;
  }
}

.footer-background {
  img {
    margin: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-position-y: 60%;
    filter: brightness(0.15);
  }
}

.footer-content {
  filter: brightness(1);
  h2 {
    margin-top: 10px;
  }
}

.logo {
  margin: 10px 0 0 0;
  max-width: 300px;
}

.no-link {
  text-decoration: none;
  text-align: center;
}

.icon-box {
  width: 25%;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  padding: 0 6% 40px 6%;
  max-width: 220px;

  .icon {
    filter: none;
    -webkit-transition : -webkit-filter 150ms linear
  }

  h4 {
    color: #333333;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
  }

  p {
    color: #666666;
    font-size: 16px;
  }

  &:hover {
    .icon {
      filter: brightness(0) saturate(100%) invert(61%) sepia(21%) saturate(6861%) hue-rotate(65deg) brightness(96%) contrast(84%);
    }
    cursor: pointer;
  }
}

.icon {
  width: 100px;
  height: 100px;
  filter: opacity(.7);
  padding: 0 0 5px 0;
}

.main-header {
  img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 10% 50%;
    filter: brightness(0.8) blur(1px);
  }

  .title {
    font-size: 48px;
    text-align: center;
    color: #444;
    margin: 90px 0 10px 0;
  }
}

.about-container {
  padding: 0 15%;
  text-align: center;

  h1 {
    font-size: 32px;
    text-transform: uppercase;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $green;
    width: 20%;
    transition: 1s width ease;
  }

  .no-width-transition {
    width: 20% !important;
  }

  p {
    font-size: 18px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.seventy {
  width: 70%;
}

.offer-height {
  height: 850px;
}

.hundred {
  width: 100%;
}

.fifty {
  padding: 0 2% 0 2%;
  width: 50%;
  align-self: center;

  p {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .offer-img {
    width: 100%;
    object-fit: fill;
    filter: saturate(0.5);
    transition: 1s filter;
  }

  .offer {
    width: 50%;
    margin: 0 auto 0 auto;

    h2 {
      margin: 0 0 16px 0;
      color: #444444;
      text-transform: uppercase;
    }
    h4 {
      font-size: 16px;
      color: #777777;
      margin-bottom: 20px;
      font-weight: 100;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
      margin-bottom: 80px;
    }

    hr {
      width: 20%;
      border-top: 1px solid #888888;
      transition: width 1s, border-top-color 1s;
    }
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .contact-img {
    position: relative;
    min-width: 440px;
    width: 100%;
    object-fit: cover;
    filter: brightness(.4);
  }
}

.about-title {
  hr {
    width: 20%;
    border-top: 1px solid #888888;
    transition: width 1s, border-top-color 1s;
  }

  p {
    margin: 12px 0;
  }
}

.thirty {
  width: 30%;
}

.page-header {
  img {
    position: relative;
    filter: blur(2px) brightness(0.6);
    max-height: 320px;
    width: 100%;
    object-fit: cover;
    transition: 2s filter;

    &:hover {
      filter: blur(1px) brightness(0.8);
    }
  }

  .header-text {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 140px;
    color: whitesmoke;
    font-size: 56px;
    text-shadow: 0 0 2px #0A0C35, 0 1px 3px #0A0C35, 0 2px 4px #0A0C35, 0 3px 5px #0A0C35;
  }
}

.offer-down {
  text-align: center;
  text-align: -moz-center;
  padding: 10px 0 60px 0;

  h1 {
    font-size: 50px;
  }

  .ghost-button {

    font-size: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}

.page-cover {
  img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    filter: brightness(.6);
  }

  .cut-in {
    &:after {
      content:'';
      width: 0;
      height: 0;
      border-left: 49vw solid transparent;
      border-right: 49vw solid transparent;
      border-bottom: 11.3vw solid #fafafa;
      position:absolute;
      left:50%;
      top:55%;
      transform: translateX(-50%);
    }
  }

  .header-text {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    text-align: center;
    font-size: 62px;
    color: whitesmoke;
    text-shadow: 0 0 2px #0A0C35, 0 1px 3px #0A0C35, 0 2px 4px #0A0C35;

    .header-background {
      background: $green-semi;
      margin: 0 20% 0 20%;
      padding: 1.2% 0 1.2% 0;
    }
  }

  .arrow-hover {
    padding: 5% 0 0 0;
    cursor: pointer;

    .arrow {
      border: solid whitesmoke;
      border-width: 0 10px 10px 0;
      display: inline-block;
      margin: 1% 0 0 0;
      padding: 20px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transition: padding .4s;
    }

    &:hover {
      .arrow {
        padding: 32px;
      }
    }
  }
}

.side-image {
  max-width: 100%;
  max-height: 900px;
}

.voivodeships {
  .row {
    text-align: center;
    text-align: -moz-center;
    padding: 0 0 40px 0;

    h2 {
      font-size: 32px;
      color: white;
      transform: translateY(-450%);
      text-shadow: 0 0 6px #000000, 0 0 6px #000000;
    }

    .container {
      width: 80%;
      height: 220px;
      padding: 0 10%;
      margin: 0;

      &:hover {
        img {
          filter: brightness(.9);
        }
      }
    }

    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: 150px;
      filter: brightness(.5);
      transition: filter 1s;
    }
  }
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-size: 100%;
  padding: .5em 1em;
  border-radius: 10px;
  border: transparent;
  text-decoration: none;
  outline: none;
  margin: 10px 0 0 0;
  -webkit-box-shadow: 4px 3px 4px 0 rgba(23,21,36,0.2);
  -moz-box-shadow: 4px 3px 4px 0 rgba(23,21,36,0.2);
  box-shadow: 4px 3px 4px 0 rgba(23,21,36,0.2);
  transition: background .3s;
}

.button-error {
  background: rgb(202, 60, 60);
  color: white;

  &:hover {
    background: rgb(180, 70, 70);
    cursor: pointer;
  }
}

.button-success {
  background: $green;
  color: white;

  &:hover {
    background: $green-dark;
    cursor: pointer;
  }
}

.button-warning {
  background: rgb(190, 190,10);
  color: white;

  &:hover {
    background: rgb(205,205,25);
    cursor: pointer;
  }
}

.middle-button {
  text-align: center;
  padding: 50px 0 0 0;
}

.ghost-button {
  outline: none;
  text-decoration: none;
  color: white;
  background-color: $green;
  border: 3px solid $green;
  border-radius: 5px;
  padding: .8rem;
  transition: background-color .3s ease, color .3s ease, box-shadow .3s ease;
  box-shadow: 1px 2px 5px 0 rgba(0, 15, 77, 0.65);

  &:hover {
    background-color: white;
    color: $green;
    box-shadow: 1px 2px 10px 0 rgba(0, 15, 77, 0.45);
  }
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  min-height: 60px;

  a {
    text-decoration: none;
    padding: 10px;
    color: white;
    border: 2px solid white;
    transition: all .3s;
  }

  &:hover {
    a {
      background: white;
      color: $green;
    }
  }
}

.contact {
  .side-content {
    color: white;
    position: absolute;
    top: 0;
    margin: 20% 20% 10% 10%;
    h2 {
      color: white;
      font-weight: lighter;
      margin: 40px 0 24px 18px;
      font-size: 33px;
    }
    h3 {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 24px 20% 24px 28px;
    }
    p {
      font-size: 18px;
      color: #dddddd;
    }
    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(301deg) brightness(102%) contrast(103%);
      max-width: 100px;
      max-height: 100px;
    }

    .sub-text {
      padding: 0 0 5% 28%;
    }

    .last {
      padding: 90px 0 0 30px;
      img {
        margin-left: -30px;
      }
    }
  }

  .fifty {
    padding: 0;
    margin: 0 0 0 15%;
    max-width: 666px;
    height: 930px;
    background: white;
  }

  .shadow {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
  }

  .content {
    text-align: center;
    text-align: -moz-center;

    .fifty {
      height: initial;

      &:before {
        content: attr(data-before);
        display: block;
        color: indianred;
        font-size: 16px;
        margin: 0 0 4px 0;
        transition: all 1s;
        height: 0;
        opacity: 0;
      }
    }

    .hundred {
      &:before {
        content: attr(data-before);
        display: block;
        color: indianred;
        font-size: 16px;
        margin: 0 0 2px 0;
        transition: all 1s;
        height: 0;
        opacity: 0;
      }
    }

    .show {
      &:before {
        height: 16px;
        opacity: 1;
      }
    }
  }

  .contact-img {
    max-width: 666px;
    height: 930px;
  }

  .brd {
    width: 50%;
    margin: auto;
    border: 1px solid lightgray;
  }

  form {
    .row {
      padding: 5px 0 30px 0;
    }
    .left {
      padding: 0 0 0 10%;
    }
    .right {
      padding: 0 10% 0 0;
    }

    .email {
      input {
        width: 70%;
      }
    }

    label {
      color: rgb(80,80,80);
    }

    textarea {
      width: 80%;
      height: 350px;
      outline: 0;
      border-color: lightgray;
      border-width: 1px 1px 1px 1px;
      transition: border 1s;
      margin: 20px 0 5px 0;
      padding: 10px;
      font-size: 16px;
      resize: none;

      &:focus {
        border-color: $green-semi;
      }
    }
  }

  hr {
    width: 20%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $green;
    padding: 0 0 40px 0;
  }

  h1 {
    font-weight: lighter;
    color: rgb(56,56,56);
    margin: 30px 0 0 0;
  }

  .invalid-input {
    border-color: indianred !important;
  }

  input[type="text"] {
    padding: 2px 2px;
    height: 24px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: lightgray;
    transition: border .5s;
    font-size: 16px;
    text-align: center;
    margin: 8px 0 0 0;

    &:focus {
      border-color: $green-semi;
    }
  }

  input[type="submit"] {
    cursor: pointer;
    font-size: 20px;

    &:focus {
      outline: none;
    }
  }

  ::placeholder {
    font-size: 15px;
  }

  .contact-padding {
    position: relative;
    padding: 0;
    margin: 0 15% 0 0;
    min-width: 440px;
    width: 30%;
  }

  .no-margin {
    margin: 0;
  }

  .no-padding {
    padding: 0;
  }
}

.trix-content {
  font-size: 22px;
}

@media (max-width: 2561px) {
  .offer-height {
    height: 930px;
  }
}

@media (max-width: 1921px) {
  .trix-content {
    font-size: 20px;
  }
  .offer-height {
    height: 700px;
  }
}

@media(max-width: 1800px) {
  section {
    padding: 50vh 0 0 0;
  }

  .contact-form {
    width: 70%;
  }
}

@media (max-width: 1600px) {
  .fifty {
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 1367px) {
  .trix-content {
    font-size: 18px;
  }
  .offer-height {
    height: 600px;
  }

  .voivodeships {
      .row {
        .container {
          width: 92%;
          padding: 0 5%;
        }
      }
  }
}

@media(max-aspect-ratio: 160/89) {
  .page-cover {
    .cut-in {
      &:after {
        top: 60%;
      }
    }
  }
}

@media(max-aspect-ratio: 11/8) {
  .page-cover {
    .cut-in {
      &:after {
        top: 64%;
      }
    }
  }
}

@media(max-width: 1279px)
{
  @media (max-aspect-ratio: 160/89) {
    .page-cover {
      .cut-in {
        &:after {
          top: 59%;
        }
      }
    }
  }

  @media (max-aspect-ratio: 3/2) {
    .page-cover {
      .cut-in {
        &:after {
          top: 45%;
        }
      }
    }
  }

  @media (max-aspect-ratio: 1/1) {
    .page-cover {
      .cut-in {
        &:after {
          top: 48%;
        }
      }
    }
  }

  @media (max-aspect-ratio: 6/8) {
    .page-cover {
      .cut-in {
        &:after {
          top: 50%;
        }
      }
    }
  }

  @media (max-aspect-ratio: 5/8) {
    .page-cover {
      .cut-in {
        &:after {
          top: 51%;
        }
      }
    }
  }
  @media (max-aspect-ratio: 3/8) {

    .page-cover {
      .cut-in {
        &:after {
          top: 53%;
        }
      }
    }
  }
  .fifty {
    .offer-img {
      filter: saturate(1);
    }
  }
  .voivodeships {
    .row {
      .thirty {
        width: 32%;
      }
      h2 {
        font-size: 26px;
        transform: translateY(-510%);
      }
    }
  }

  nav {
    .nav-logo {
      width: 16vw;
      margin-left: 7%;
    }
    .nav-left {
      transform: skew(-30deg) translateX(-2vw);
    }
    .nav-right {
      transform: skew(-30deg) translateX(2vw);
    }

    div {
      ul {
        padding: 0 0 0 30px;
      }
    }
  }

  .underline {
    padding: 0 16px 0 16px;
    &:after {
      position: relative;
    }
  }

  .box {
    width: 300px;
  }

  .square {
    margin: $square-margin ($square-margin * 1.5) 0 $square-margin/2;
  }

  .slide-banner {
    width: 480px;
    max-width: 480px;
    height: 40vh;
  }

  .background-image {
    height: 40vh;
  }

  section {
    padding: 40vh 0 0 0;
  }

  .image-box {
    .left {
      transform: translateX(-28%);
      width: 165%;
    }

    .center {
      width: 165%;
      transform: translateX(-28%);
    }

    .right {
      width: 140%;

      img {
        transform: translateX(-28%) skew(30deg);
      }
    }

    .box-text {
      left: 24%;
    }
  }

  .row {
    .col {
      img {
        height: 12vh;
      }
    }
  }

  .contact-form {
    width: 100%;
  }

  .offer-height {
    height: 500px;
  }
  .fifty {
    .offer {
      p {
        margin-bottom: 30px;
      }
    }
  }

  .offer {
    .ghost-button {
      padding: .8rem 4%;
    }
  }

  .about-container {
    p {
      font-size: 12px;
      max-width: 100%;
    }
  }

  .page-cover {
    img {
      height: 55vh;
    }
  }

  .contact {
    form {
      .left {
        width: 250px;
        padding: 0;
      }
      .right {
        width: 250px;
        padding: 0;
      }
    }
  }
}

@media(min-aspect-ratio: 5/4) {
  .background-image {
    height: 80vh;
  }
  .slide-banner {
    height: 80vh;
  }

  section {
    padding: 80vh 0 0 0;
  }
}

.tobii__slider-slide {
  div {
    figure {
      img {
        opacity: 1 !important;
      }
    }
  }
}

.pagination {
  display: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.smoke-section {
  background-color: rgb(250,250,250);
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.hide {
  display: none;
}